body {
  background-color: #f7f7c7;
}

main {
  width: 100%;
  text-align: center;
}

article {
  display: inline-block;
  border: 1px solid black;
}

.lab-title {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 0px;
  text-align: center;
}

.wel-user {
  font-size: 2em;
  font-weight: bold;
}

.user-name {
  color: #153c7a;
}

.bio-section {
  text-align: left;
  margin: 4em;
}

.bio-content {
  background-color: #333333;
  color: white;
  padding: 2em;
}

.promptResult {
  padding: 2em;
  margin-top: -2em;
}

#scoreResult {
  font-size: 10em;
  font-weight: bold;
  color: orange;
}


@media (min-width: 601px) {
  article {
    width: 80%;
  }
  .wel-user {
    padding: 1em;
  }
}

@media (max-width: 600px) {
  article {
    width: 95%;
  }
}